@using kareemwq.Models
@model List<Person>
<head>
    
    
    <title>@ViewBag.Title</title>
    
</head>
@foreach (Person pep in Model)
{
    <b>@pep.Name</b>
    <br />
    <b>@pep.DateOfBirth?.ToString("MM/dd/yyyy")</b>
    <br />
    <a href="/Privacy/@pep.Name">detials</a>
    <br />


}
<a href="/viewpro">product</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
